# Dependencies required for installing the package are defined in setup.cfg.
# Dependencies for tests are in requirements-test.txt.

-e .  # Install the current directory as an editable package.

# Nice for development.
django-extensions==2.2.6
ipdb==0.12.3
ipython==7.12.0
Werkzeug==0.16.1

# For documentation.
Sphinx==3.0.4
sphinx-autobuild==0.7.1   # To auto-build docs as they're edited.
sphinx-rtd-theme==0.2.4   # The Read the Docs theme for Sphinx.
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
